*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q2_K_L/DeepSeek-R1-Q2_K_L-00001-of-00005.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q2_K_L/DeepSeek-R1-Q2_K_L-00002-of-00005.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q2_K_L/DeepSeek-R1-Q2_K_L-00003-of-00005.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q2_K_L/DeepSeek-R1-Q2_K_L-00004-of-00005.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q2_K_L/DeepSeek-R1-Q2_K_L-00005-of-00005.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q2_K_XS/DeepSeek-R1-Q2_K_XS-00001-of-00005.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q2_K_XS/DeepSeek-R1-Q2_K_XS-00002-of-00005.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q2_K_XS/DeepSeek-R1-Q2_K_XS-00003-of-00005.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q2_K_XS/DeepSeek-R1-Q2_K_XS-00004-of-00005.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q2_K_XS/DeepSeek-R1-Q2_K_XS-00005-of-00005.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q3_K_M/DeepSeek-R1-Q3_K_M-00001-of-00007.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q3_K_M/DeepSeek-R1-Q3_K_M-00002-of-00007.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q3_K_M/DeepSeek-R1-Q3_K_M-00003-of-00007.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q3_K_M/DeepSeek-R1-Q3_K_M-00004-of-00007.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q3_K_M/DeepSeek-R1-Q3_K_M-00005-of-00007.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q8_0/DeepSeek-R1-BF16-256x20B-Q8_0-00001-of-00016.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q3_K_M/DeepSeek-R1-Q3_K_M-00006-of-00007.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q8_0/DeepSeek-R1-BF16-256x20B-Q8_0-00002-of-00016.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q3_K_M/DeepSeek-R1-Q3_K_M-00007-of-00007.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q8_0/DeepSeek-R1-BF16-256x20B-Q8_0-00003-of-00016.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q4_K_M/DeepSeek-R1-Zero-Q4_K_M-00001-of-00009.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q8_0/DeepSeek-R1-BF16-256x20B-Q8_0-00004-of-00016.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q4_K_M/DeepSeek-R1-Zero-Q4_K_M-00002-of-00009.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q8_0/DeepSeek-R1-BF16-256x20B-Q8_0-00005-of-00016.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q4_K_M/DeepSeek-R1-Zero-Q4_K_M-00003-of-00009.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q8_0/DeepSeek-R1-BF16-256x20B-Q8_0-00006-of-00016.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q4_K_M/DeepSeek-R1-Zero-Q4_K_M-00004-of-00009.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q8_0/DeepSeek-R1-BF16-256x20B-Q8_0-00007-of-00016.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q4_K_M/DeepSeek-R1-Zero-Q4_K_M-00005-of-00009.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q8_0/DeepSeek-R1-BF16-256x20B-Q8_0-00008-of-00016.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q4_K_M/DeepSeek-R1-Zero-Q4_K_M-00006-of-00009.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q8_0/DeepSeek-R1-BF16-256x20B-Q8_0-00009-of-00016.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q4_K_M/DeepSeek-R1-Zero-Q4_K_M-00007-of-00009.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q5_K_M/DeepSeek-R1-Zero-Q5_K_M-00001-of-00010.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q8_0/DeepSeek-R1-BF16-256x20B-Q8_0-00010-of-00016.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q4_K_M/DeepSeek-R1-Zero-Q4_K_M-00008-of-00009.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q5_K_M/DeepSeek-R1-Zero-Q5_K_M-00002-of-00010.gguf filter=lfs diff=lfs merge=lfs -text
DeepSeek-R1-Q8_0/DeepSeek-R1-BF16-256x20B-Q8_0-00011-of-00016.gguf filter=lfs diff=lfs merge=lfs -text
